@model LiteCommerce.Admin.Models.ReportPaginationResult
@{
    ViewBag.Title = "Report";
    int i = 0;

}
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/Report">Analytics</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active" id="order"><a href="#order">Orders</a></li>
                <li id="product"><a href="#product">Products</a></li>
            </ul>
        </div>
    </nav>
</div>
<div id="orders">
    <div class="row">
        <div class="col-md-12">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <p>Có tổng cộng :</p> <h3> @Model.sumOfOrders Orders</h3>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="~/Order" class="small-box-footer">Xem chi tiết <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
            
        <!-- ./col -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Thống kê số lần đơn hàng được chuyển đến mỗi quốc gia</label>
            <br />
            <!-- small box -->
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Quốc gia</th>
                        <th>Số lần chuyển đến</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itemSum in Model.DataSum)
                    {
                        <tr>
                            <td>
                                <span style="display:block"><i class="fa fa-globe"></i> @itemSum.nameCountryOrder</span>
                            </td>
                            <td>
                                <span style="display:block"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i> @itemSum.sumPerCountry</span>
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <label>Thống kê các đơn hàng được giao gần đây</label>
            <br />
            <!-- small box -->
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Ngày yêu cầu giao hàng</th>
                        <th>Ngày ship đến</th>
                        <th>Trạng thái</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itemShip in Model.DataShipOk)
                    {
                    <tr>
                        <td>
                            <span style="display:block"><i class="fa fa-globe"></i> @itemShip.requiredDate</span>
                        </td>
                        <td>
                            <span style="display:block"><i class="fa fa-sort-numeric-asc" aria-hidden="true"></i> @itemShip.shippedDate</span>
                        </td>
                        <td>
                            @if (itemShip.shippedDate.IsEmpty())
                            {
                                <span style="color:green">Chưa giao</span>
                            }
                            else if(itemShip.isShipOk == "false")
                            {
                                <span style="color:red">Giao chậm</span>
                                }else if(itemShip.isShipOk == "true")
                                {
                                <span style="color:green">Chưa giao</span>
                            }
                        </td>
                        <td>
                            <a href="~/Order/Detail/@itemShip.orderID" class="btn btn-sm btn-success" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i>Xem chi tiết</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="products">
    <div class="row">
        <div class="col-md-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner">
                    <h3>150</h3>
                    <p>New Orders</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-md-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>
                    <p>Bounce Rate</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="box-header text-bold">Tổng số lượng:</div>
                <div class="box-body">
                    <div class="col-md-6">
                        Tên sản phẩm:
                    </div>
                    <div class="col-md-6">
                        Số lượng:
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="box-header text-bold">Số lượng bán ra</div>
                <div class="box-body">
                    <div class="col-md-6">
                        Tên sản phẩm:
                    </div>
                    <div class="col-md-6">
                        Số lượng:
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="box-header text-bold">Số lượng bán ra</div>
                <div class="box-body">
                    <div class="col-md-6">
                        Tên Sản phẩm:
                    </div>
                    <div class="col-md-6">
                        Số lượng:
                    </div>
                </div>
            </div>
            <div class="panel panel-danger">
                <div class="box-header text-bold">Sản phẩm được mua nhiều nhất:</div>
                <div class="box-body">
                    <div class="col-md-6">
                        Tên sản phẩm:
                    </div>
                    <div class="col-md-6">
                        Số lượng:
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


