@model LiteCommerce.DomainModels.Customer
@{
    ViewBag.Title = "Detail Customer";
}
<div class="row">
    <div class="col-sm-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Customer Information</h3>
                <div class="box-tools pull-right">
                    <a href="~/Customer" class="btn btn-sm btn-default"><i class="fa fa-long-arrow-left"></i> Back</a>
                    <a href="~/Customer/Input/@Model.CustomerID" class="btn btn-sm btn-primary" data-toggle="tooltip" data-original-title="Edit Product Info"><i class="fa fa-pencil"></i></a>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/Images/Customer.jpg" width="100%" />
                    </div>
                    <div class="col-sm-8">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="text-bold" width="150px">CompanyName</td>
                                    <td>@Model.CompanyName</td>
                                </tr>
                                <tr>
                                    <td class="text-bold">ContactName</td>
                                    <td>@Model.ContactName</td>
                                </tr>
                                <tr>
                                    <td class="text-bold" width="150px">ContactTitle</td>
                                    <td>@Model.ContactTitle</td>
                                </tr>
                                <tr>
                                    <td class="text-bold">Address</td>
                                    <td>@Model.Address</td>
                                </tr>
                                <tr>
                                    <td class="text-bold" width="150px">City</td>
                                    <td>@Model.City</td>
                                </tr>
                                <tr>
                                    <td class="text-bold">Country</td>
                                    <td>@Model.Country</td>
                                </tr>
                                <tr>
                                    <td class="text-bold" width="150px">Phone</td>
                                    <td>@Model.Phone</td>
                                </tr>
                                <tr>
                                    <td class="text-bold">Fax</td>
                                    <td>@Model.Fax</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>

</div>

