@model LiteCommerce.DomainModels.Order
<div class="box box-primary">
    <!-- form start -->
    <form role="form" action="~/Order/Input" method="post" enctype="multipart/form-data">
        <div class="box-header with-border">
            <div class="box-tools pull-right">
                <a href="~/Order" class="btn btn-primary">
                    <i class="fa fa-long-arrow-left"></i> Back
                </a>
            </div>
        </div>
        <input type="hidden" name="OrderID" value="@Model.OrderID" />
        <div class="box-body">
           
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Customer:</label>
                        @Html.DropDownListFor(m => m.CustomerID, SelectListHelper.ListOfCustomers(),
                             new { @class = "form-control", @id = "selectCustomer" }
                        )
                        @Html.ValidationMessage("CustomerID", new { @style = "color: red" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Employee:</label>
                        @Html.DropDownListFor(m => m.EmployeeID, SelectListHelper.ListOfEmployees(),
                             new { @class = "form-control", @id = "selectEmployee" }
                        )
                        @Html.ValidationMessage("EmployeeID", new { @style = "color: red" })
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Shipper:</label>
                        @Html.DropDownListFor(m => m.ShipperID, SelectListHelper.ListOfShippers(),
                              new { @class = "form-control", @id = "selectShipper" }
                         )
                        @Html.ValidationMessage("ShipperID", new { @style = "color: red" })
                        @Html.ValidationMessage("WrongShipDate", new { style="color:red"})
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Order date</label>
                        @Html.TextBoxFor(m => m.OrderDate, "{0:dd/MM/yyyy}", new { @Value = Model.OrderDate, @class = "form-control", type = "datetime" })
                        @Html.ValidationMessageFor(m => m.OrderDate, "", new { @class = "text-danger" })
                        @ViewBag.WrongDate
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Required date</label>
                        @Html.TextBoxFor(m => m.RequiredDate, "{0:dd/MM/yyyy}", new { @Value = Model.RequiredDate, @class = "form-control", type = "datetime" })
                        @Html.ValidationMessageFor(m => m.RequiredDate, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Shipped date</label>
                        @Html.TextBoxFor(m => m.ShippedDate, "{0:dd/MM/yyyy}", new { @Value = Model.ShippedDate, @class = "form-control", type = "datetime" })
                        @Html.ValidationMessageFor(m => m.ShippedDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Freight:</label>
                        <input type="number" min="0" max="20000" step="any" name="Freight" class="form-control" placeholder="0" value="@Model.Freight">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Ship address:</label>
                        <input type="text" name="ShipAddress" class="form-control" placeholder="6/64 Nguyễn Công Trứ" value="@Model.ShipAddress">
                        @Html.ValidationMessage("ShipAddress", new { @style = "color: red" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Ship city:</label>
                        <input class="form-control" name="ShipCity" placeholder="Huế" value="@Model.ShipCity" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Ship country:</label>
                        @Html.DropDownListFor(m => m.ShipCountry, SelectListHelper.ListOfCountries(),
                       new { @class = "form-control", @id = "selectCountry" })
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" id="ButtonSubmit" class="btn btn-primary btn-sm">
                    <i class="fa fa-check"></i> @ViewBag.ConfirmButton
                </button>
                <a href="~/Order" class="btn btn-default btn-sm">
                    <i class="fa fa-times"></i> Cancel
                </a>
            </div>
        </div>
    </form>
</div>
